    body {
        background-color: rgb(76, 65, 225);
    }

    h1 {
        color: red;
    }

    #theBox {
        height: 400px;
        width: 500px;
        align-self: center;
        background-color: lightgray;
        border: 2px solid black;
    }

    p {
        text-align: center;
        color: red;
    }

    h2 {
        color: red;
    }
